#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(96, 79, 252, 0.082), white);
}

.title {
  display: flex;
  justify-content: center;
}

#sketch-window {
  width: 80%;
  height: 80%;
  display: grid;
  background-color: white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#sketch-window:hover {
  cursor: crosshair;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
}

.pixel {
  display: inline-block;
  box-sizing: border-box;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;

  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.blackButton {
  background-color: black;
  color: white;
}
.blackButton:hover {
  background-color: white;
  color: black;
}
.grayButton {
  background-color: rgba(128, 128, 128, 0.411);
  color: black;
}
.grayButton:hover {
  background-color: rgb(95, 95, 95);
  color: white;
}
.randomButton {
  background: linear-gradient(0.25turn, #f65cfc, #ebf8e1, #583cf6);
}
.randomButton:hover {
  background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.erasorButton {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.erasorButton:hover {
  background-color: white;
  color: rgb(255, 255, 255);
}

input[type='range'] {
  max-width: 112px;
  width: 80%;
  margin-top: 10px;
}

.clear-button {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.clear-button:hover {
  background-color: #3498db; /* Hover background color */
  color: #fff; /* Hover text color */
  border-color: #fff; /* Hover border color */
}

.clear-button:focus {
  outline: none;
}
